    label,
    textarea {
      display:inline-block;
      vertical-align:top;
      }

    .important {
      border-style:solid;
      border-color:green;
      border-width:5px;
      text-align:center;
      }

    .additional-info {
      font-size:smaller;
      font-style:italic;
      }

    .error-message {
      color:red;
      font-size:smaller;
      font-style:italic;
      }

    fieldset {
      font-size: smaller;
      }

    table, th, td {
      border-collapse: collapse;
      }
    .vspace {
       margin-top: 50px;
       }
    .motto {
       font-style: italic;
      }
   .radio-scale td {
       text-align: center;
       border: 1px solid black;
    }
